#outpostView table, #outpostView td{
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    text-align: center;
}

.outpostButton {
    background-color: transparent
}

#outpostView thead, #outpostView tfoot{
    background-color: rgba(46, 46, 46, .7);
}