form {
    max-height: 0px;
}

table {
    border-collapse: collapse;
  }
  
td {
    border: 1px solid white;
}
button {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

input{
    background-color: transparent;
    color: white;
    border: transparent;
    height: 20px;
}

::placeholder{
    color: lightgray;
}