.adminView form {
    max-height: 0px;
}

.adminView table {
    border-collapse: collapse;
  }
  
.adminView td {
    border: 1px solid white;
}
.adminView button {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.adminView input{
    background-color: transparent;
    color: white;
    border: transparent;
    height: 20px;
}

::placeholder{
    color: lightgray;
}