#suppliesGraph thead, #crewGraph thead, #crewGraph tbody {
    text-align: center;
}

#suppliesGraph caption, #crewGraph caption{
    font-weight: bold;
    font-size: large;
}

#shipGIF {
    max-width: 300px;
}

.gameView td{
    padding: 5px;
}

.gameView button {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.gameView input[type="button"]{
    background-color: transparent;
    color: white;
    border: transparent;
    height: 20px;
}

.gameView table {
    border-collapse: collapse;
  }
  
.gameView td {
    border: 1px solid white;
}

#suppliesGraph thead td, #crewGraph thead td{
    width: 100px;
    background-color: rgba(46, 46, 46, .7);
}

#optionButton{
    /* font-size: 30px; */
    background-color: white;
    width: 60%;
    color: black;
    margin: 10px;
    padding: 10px
}
#optionButton:hover{
    background-color: lightgray;
}

#optionText{
    font-size: 20px;
    padding: 20px;
}

#crewGraph, #suppliesGraph, #progressBar, #date {
    padding-left: 30px;
}

#progressBar progress {
    background-color: silver;
}

#crewGraph .title {
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
}

.gameView #scenarioMainView, .gameView #crewGraph{
    float: left;
}

#scenarioMainView h3 {
    max-width: 250px;
}

.gameView #newDayButton {
    margin-top: 5%;
    margin-left: 10%;
}

#scenarioMainView{
    padding-left: 10%;
}