form{
    background-color: transparent;
}

ul{
    list-style-type: none;
}

#startButton{
    display: flex; 
    justify-content: center;
}

input {
    font-size: 16px;
}

.exceeded{
    background-color: red
}