#suppliesGraph thead, #crewGraph thead, #crewGraph tbody {
    text-align: center;
}

#suppliesGraph caption, #crewGraph caption{
    font-weight: bold;
    font-size: large;
}

#shipGIF {
    max-width: 300px;
}

#crewGraph td, #suppliesGraph td{
    padding: 5px;
}