#huntingGrid td{
    width: 30px;
    height: 30px;
    border: transparent;
    font-weight: bold;
}

#huntingBoard table{
    background-image: url("../../../images/grass.jpg");
    text-align: center;
    color: black;
    margin-left:auto;
    margin-right:auto;
}

#huntingBoard #energy {
    background-color: red;
}

#huntingGameView table, #huntingGameView td{
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

#huntingInformation {
    width: 200px
}

#huntingResults {
    text-align: center;
}